@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.commit {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1.section-title {
    font-size: 7rem;
    font-family: 'Big Shoulders Display', cursive;
    height: 20%;
    display: flex;
    align-items: center;
}
.commit-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
}
.commit-cards {
    position: relative;
    height: 90%;
    width: 25%;

}
.responsible-purchasing {
    background-image: url('../IMG/girafe.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.don {
    background-image: url('../IMG/panda-roux.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.adopt {
    background-image: url('../IMG/panda.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.commit-text-container {
position: absolute;
display: flex;
flex-direction: column;
justify-content: space-around;
bottom: -2%;
left: 5%;
box-shadow: .1rem .1rem 1rem rgba(128, 128, 128, 0.2);
width: 100%;
height: 40%;
background-color: rgba(255, 255, 255, 0.9);
}
.commit-text {
    margin: 0 1rem;
font-size: 1.7rem;
}
.commit-text-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Big Shoulders Display';
}